@inject NavigationManager Navigation
@inject IUnitOfWork Services

@if (User != null && CourseId !=null)
{
    <div class="modal fade" id="@GetModalId(User)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-footer">
                    <h5 class="modal-title flex-grow-1 text-start">Är du säker?</h5>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @onclick="@DeleteConfirm">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
}


@code {

    [Parameter]
    public User? User { get; set; }

    [Parameter]
    public int? CourseId { get; set; }

    private string title = string.Empty;

    protected override void OnParametersSet()
    {
        title = $"Ta bort användare: {User?.FirstName} {User?.LastName}?";
    }

    public static string GetModalId(User user)
    {
        return $"deleteModal-{user.UserId}";
    }

    private async Task DeleteConfirm()
    {
        await Services.CourseService.RemoveUserFromCourse(CourseId.Value, User.UserId);
        Navigation.NavigateTo($"/course_details/{CourseId}", true);
    }
}
