@inject NavigationManager Navigation
@inject IUnitOfWork Services

@if (Course != null)
{
    <div class="modal fade" id="@GetModalId(Course)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-footer">
                    <h5 class="modal-title flex-grow-1 text-start">Är du säker?</h5>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @onclick="@DeleteConfirm">
                        Radera
                    </button>
                </div>
            </div>
        </div>
    </div>
}


@code {

    [Parameter]
    public Course Course { get; set; }

    [Parameter]
    public User? CurrentUser { get; set; }

    private string title = string.Empty;

    protected override void OnParametersSet()
    {
        if(CurrentUser == null)
        {
            title = $"Ta bort kursen: {Course?.Name}?";
        }

        else
        {
            title = $"Vill du ta bort dig från kursen: {Course?.Name}?";
        }
    }

    public static string GetModalId(Course course)
    {
        return $"deleteModal-{course.CourseId}";
    }

    private async Task DeleteConfirm()
    {
        if (CurrentUser == null)
        {
            await Services.CourseService.DeleteCourseAsync(Course.CourseId);
            Navigation.NavigateTo("/course_dashboard", true);
        }

        else
        {
            await Services.CourseService.RemoveUserFromCourse(Course.CourseId,CurrentUser.UserId);
            Navigation.NavigateTo("/dashboard", true);
        }

    }
}
