@inject NavigationManager Navigation
@inject IUnitOfWork Services

@if (Activity != null)
{
    <div class="modal fade" id="@GetModalId(Activity)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-footer">
                    <h5 class="modal-title flex-grow-1 text-start">Är du säker?</h5>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @onclick="@DeleteConfirm">
                        Radera
                    </button>
                </div>
            </div>
        </div>
    </div>
}


@code {

    [Parameter]
    public Activity Activity { get; set; }

    [Parameter]
    public int CourseId { get; set; }

    private string title = string.Empty;

    protected override void OnParametersSet()
    {
        title = $"Ta bort aktiviteten: {Activity?.Name}?";
    }

    public static string GetModalId(Activity activity)
    {
        return $"deleteModal-{activity.ActivityId}";
    }

    private async Task DeleteConfirm()
    {
        await Services.ActivityService.DeleteActivityAsync(Activity.ActivityId);
        Navigation.NavigateTo($"/activities/{CourseId}/{Activity.ModuleId}", true);
    }
}
