@page "/user-role"

@inject IUnitOfWork Services
@inject CustomAuthenticationStateProvider CustomAuthStateProvider
@rendermode InteractiveServer

<h3>User Role</h3>

@if (currentUser != null)
{
    if (currentUser.Role.ToString().Equals("Teacher") && currentUser.UserId >0)
    {
        <p>You are authorized as a Teacher.</p>
        <p>User Id: @currentUser.UserId</p>
        <p>Email: @currentUser.Email</p>
        <p>FirstName: @currentUser.FirstName</p>
        <p>LastName: @currentUser.LastName</p>
    }

    else
    {
        <p>You are not authorized to access this page2.</p>

    }
}

else
{
    <p>You are not authorized to access this page.</p>
}

@code {
    private User? currentUser;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            currentUser = await Services.UserService.GetCurrentUserAsync();
            StateHasChanged();
        }
    }
}
