.navbar-toggler {
  appearance: none;
  cursor: pointer;
  width: 3.5rem;
  height: 2.5rem;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    no-repeat center/1.75rem rgba(255, 255, 255, 0.2);
}

.navbar-toggler:checked {
  background-color: rgba(255, 255, 255, 0.5);
}

.top-row {
  background-color: var(--primary);
}

.navbar-brand .logo {
  width: 7.5rem;
  height: auto;
}

.bi {
  font-size: 1.125rem;
  margin-right: 0.75rem;
}

.nav-item {
  list-style: none;
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
  font-weight: 500;
}

.nav-item:first-of-type {
  padding-top: 1rem;
}

.nav-item:last-of-type {
  padding-bottom: 1rem;
}

.nav-item ::deep .nav-link {
  color: var(--text);
  background: none;
  border: none;
  border-radius: 4px;
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 3rem;
  width: 100%;
  padding-inline: 0.5rem;
}

.nav-item ::deep a.active {
  background-color: hsla(var(--primary-hsl), 0.15);
  color: var(--primary);
}

.nav-item ::deep .nav-link:hover {
  background-color: hsla(var(--primary-hsl), 0.15);
  color: var(--primary);
}

/* USER */

.user {
  padding: 16px 8px 8px 8px;
  font-weight: 500;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.15);
}

.user .bi {
  font-size: 1.25rem;
}

.user .role {
  margin-left: 8px;
  color: var(--primary);
  font-size: 0.75rem;
}

.user .nav-item {
  padding: 0;
}

.user .dropdown-toggle::after {
  margin-left: auto;
}

@media (min-width: 641px) {
  .navbar-toggler {
    display: none;
  }

  .navbar-collapse {
    /* Never collapse the sidebar for wide screens */
    display: block;

    /* Allow sidebar to scroll for tall menus */
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
  }

  .navbar-brand .logo {
    width: 160px;
  }

  .navbar-brand {
    margin-right: 0;
    margin-inline: auto;
  }

  .top-row {
    background: var(--primary);
  }
}
