@page "/course_over_view"
@inject IUnitOfWork Services
@rendermode InteractiveServer
@inject NavigationManager Navigation
@using System.Net.Http.Json
@inject HttpClient Http


<h3>CourseOverView</h3>

@code {

}
