@page "/course_over_view"
@inject IUnitOfWork Services
@rendermode InteractiveServer
@inject NavigationManager Navigation
@using System.Net.Http.Json
@inject HttpClient Http
@inject IHttpClientFactory HttpClientFactory


<h3>Course Overview</h3>

@if (courses == null)
{
    <p><em>Loading...</em></p>
}
else if (!courses.Any())
{
    <p>No courses available.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>
                    <a @onclick="NavigateToNewModule" class="btn btn-primary">+ Module</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in courses)
            {
                <tr>
                    <td>@course.Name</td>
                    <td>@course.Description</td>
                    <td>@course.StartDate.ToShortDateString()</td>
                    <td>@course.EndDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Course> courses;

    protected override async Task OnInitializedAsync()
    {
        courses = await Services.CourseService.GetCoursesAsync();
    }

    private void NavigateToNewModule()
    {
        Navigation.NavigateTo("/new_or_register_module");
    }
}