@page "/"

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Hello and welcome to Lexicon It</h1>
        <p class="lead">Our companys aim are to get you your dream jobb</p>
        <hr class="my-4" />
        <p>Click the button below to login or register.</p>
        <button class="btn btn-primary btn-lg" @onclick="NavigateToLoginRegister">Login/Register</button>
    </div>
</div>

@code {
    [Inject] private NavigationManager? Navigation { get; set; }

    private void NavigateToLoginRegister()
    {
        Navigation.NavigateTo("/login");
    }
}
