@page "/login"
@using Lexicon.Api.Models
@using Lexicon.Frontend.ServicesImp

@inject IUnitOfWork Services
@inject NavigationManager Navigation
@inject HttpClient Http

@rendermode InteractiveServer

<PageTitle>Login</PageTitle>

<h3>Login</h3>

@if (isAuthenticated)
{
    <p>You are already logged in.</p>
    <button class="btn btn-primary" @onclick="Logout">Logout</button>
}

else if (!loading)
{
    <p>loading...</p>
}

else
{
    <div class="login-form">
        <EditForm Model="@loginModel" OnValidSubmit="HandleSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="email">Email</label>
                <InputText id="email" class="form-control" @bind-Value="loginModel.Email" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText id="password" type="password" class="form-control" @bind-Value="loginModel.Password" />
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </EditForm>
        <p>
            <a @onclick="NavigateToRegister">Register</a>
        </p>
    </div>
}

@code {
    private LoginModel loginModel = new LoginModel();
    private bool isAuthenticated = false;
    private bool loading = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var token = await Services.SessionStorageService.GetItemAsync("authToken");
            isAuthenticated = !string.IsNullOrEmpty(token);
            loading = true;
            StateHasChanged();
        }
    }

    private async Task HandleSubmit()
    {
        try
        {
            var response = await Services.AuthService.LoginAsync(new UserLoginModel
                {
                    Email = loginModel.Email,
                    Password = loginModel.Password
                });

            if (!string.IsNullOrEmpty(response))
            {
                await Services.SessionStorageService.SetItemAsync("authToken", response);
                var storedToken = await Services.SessionStorageService.GetItemAsync("authToken");
                isAuthenticated = true;
                Navigation.NavigateTo("/");
            }
            else
            {
                Console.WriteLine("Login failed");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error logging in: {ex.Message}");
        }
    }

    private async Task Logout()
    {
        await Services.AuthService.LogoutAsync();
        isAuthenticated = false;
        Navigation.NavigateTo("/login");
    }

    private void NavigateToRegister()
    {
        Navigation.NavigateTo("/register");
    }

    public class LoginModel
    {
        public string Email { get; set; } = string.Empty;
        public string Password { get; set; } = string.Empty;
    }
}
