@page "/modules"
@inject IUnitOfWork Services
@rendermode InteractiveServer

<h3>Modules</h3>

@if (modules == null)
{
    <p><em>Loading ...</em></p>
}
else
{
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var module in modules)
                {
                    <tr>
                        <td>@module.Name</td>
                        <td>@module.Description</td>
                        <td>@module.StartDate.ToString("yyyy-MM-dd")</td>
                        <td>@module.EndDate.ToString("yyyy-MM-dd")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {

    private List<Module> modules;
    private bool student = true;
    protected async override Task OnInitializedAsync()
    {
        modules = (await Services.ModuleService.GetModulesAsync()).ToList();
    }
}
